<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ru.arusin.helloworld">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">

        <activity
            android:name="ru.arusin.helloworld.HelloActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
